Ollama
langchain-google-genai
google-generativeai
anthropic
langchain-anthropic
PyPDF2
langchain
Openai
faiss-cpu
tiktoken
openai
langchain-openai
streamlit
streamlit-extras
huggingface-hub
pyperclip
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
plotly
altair
bokeh
pillow
opencv-python
python-dotenv
jupyter
Groq